.container {
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-form {
    width: 100%;

    & > h3 {
      text-align: center;
    }

    & > button {
      margin-top: 20px;
      width: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
