td > div > button {
  background-color: #b18aff !important;
}
td > div > button svg {
  font-size: 25px;
}
td > div > button:hover svg {
  color: #1e1e1e;
}
td > div > input {
  margin-top: 18px !important;
}
